.array-container {
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 10px;
}

.array-bar {
    color: white;
    text-shadow: 2px 2px 0px black; 
    display: inline-block;
    vertical-align: bottom;
    margin: 0 1px;
}